<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> Hey this is a button that you could input something</p>
 <form action="#" method="POST"> <!-- Send information is usally going to use form and use the method post to get information to python code. Action means url redirect # means still on the same page -->
        <p><input type="name" name="nm"></p><!-- This is for the input text tag with the input being name="nm"-->
        <p><input type="submit" name = "b1" value="Submit"></p> <!-- vaule is for the sumbit button text -->
    </form>
</body>
</html>